<%= form_with(model: service, local: true) do |form| %>
  <div class="col-md-9">
      <% if service.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

          <ul>
          <% service.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="submit-property__block">
          <h3 class="submit-property__headline">Basic Information</h3>
          <div class="submit-property__group">
              <label for="title" class="submit-property__label">Service Title *</label>
              <%= form.text_field :title, class: "submit-property__field", placeholder: placeholder="I will clean your home", :required => true%>
              
          </div>

          <div class="row">
              <div class="col-md-6">
                  <div class="submit-property__group">
                      <label for="property-type" class="submit-property__label">Service Category *</label>
                      <%= form.select(:category, options_for_select([["House", "house"], ["Appertment", "appertment"], ["Commercial", "commercial"]], :selected => form.object.category), {include_blank: false}, { :class => 'ht-field' }) %>
                  </div>
              </div><!-- .col -->

              <div class="col-md-6">
                  <div class="submit-property__group">
                      <label for="property-price" class="submit-property__label">Tags *</label>
                      <%= form.text_field :tags, class: "submit-property__field", required: true%>
                      <span class="submit-property__unit">USD</span>
                  </div><!-- .submit-property__group -->
              </div><!-- .col -->
          </div><!-- .row -->

          <div class="submit-property__group">
              <label for="submit-property-wysiwyg" class="submit-property__label">Description *</label>
              <%= form.text_area :description, id: "submit-property-wysiwyg", required: true %>
          </div><!-- .submit-property__group -->
      </div><!-- .submit-property__block -->

      <div class="submit-property__block">
          <h3 class="submit-property__headline">Gallery or Video</h3>
          
          <div class="row">
              <div class="col-md-5">
                  <div class="submit-property__group">
                      <label for="property-featured-image" class="submit-property__label">Featured Image *</label>
                      <div class="submit-property__upload">
                          <input type="file">
                          <div class="submit-property__upload-inner">
                              <span class="ion-ios-plus-outline submit-property__icon"></span>
                              <span class="submit-property__upload-desc">Drop image here or click to upload</span>
                          </div>
                      </div><!-- .submit-proeprty__upload -->
                  </div><!-- .submit-property__group -->
              </div><!-- .col -->

              <div class="col-md-7">
                  <div class="submit-property__group">
                      <label for="property-media" class="submit-property__label">All Images or Video </label>
                      <div class="submit-property__upload">
                          <input type="file" multiple>
                          <div class="submit-property__upload-inner">
                              <span class="ion-ios-plus-outline submit-property__icon"></span>
                              <span class="submit-property__upload-desc">Drop all images here or click to upload</span>
                          </div>
                      </div><!-- .submit-proeprty__upload -->
                  </div><!-- .submit-property__group -->
              </div><!-- .col -->
          </div><!-- .row -->
      </div><!-- .submit-property__block -->

      <%= form.fields_for :packages do |p| %>
          <div class="submit-property__block">
            <h3 class="submit-property__headline">Packages</h3>
            <div class="submit-property__group">
                <label for="title" class="submit-property__label">Package Name *</label>
                <%= p.text_field :name, class: "submit-property__field", placeholder: placeholder="Basic", :required => true%> 
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="submit-property__group">
                        <label for="property-price" class="submit-property__label">Price *</label>
                        <%= p.text_field :price, class: "submit-property__field", required: true%>
                        <span class="submit-property__unit">USD</span>
                    </div><!-- .submit-property__group -->
                </div><!-- .col -->                

                <div class="col-md-4">
                  <div class="submit-property__group">
                      <label for="property-type" class="submit-property__label">Revisions *</label>
                      <%= p.select(:revisions, options_for_select((1..20), :selected => p.object.revisions), {include_blank: false}, { :class => 'ht-field' }) %>
                  </div>
                </div><!-- .col -->

                <div class="col-md-4">
                  <div class="submit-property__group">
                      <label for="property-type" class="submit-property__label">Delivery Time(Days) *</label>
                      <%= p.select(:delivery_time, options_for_select((1..20), :selected => p.object.delivery_time), {include_blank: false}, { :class => 'ht-field' }) %>
                  </div>
                </div><!-- .col -->
            </div><!-- .row -->

            <div class="submit-property__group">
                <label for="submit-property-wysiwyg" class="submit-property__label">Description *</label>
                <%= p.text_area :description, id: "submit-property-wysiwyg", required: true %>
            </div><!-- .submit-property__group -->
        </div><!-- .submit-property__block -->
      <% end %>

      <%= form.fields_for :requirements do |r| %>
          <div class="submit-property__block">
            <h3 class="submit-property__headline">Requirements</h3>
            <div class="submit-property__group">
                <label for="submit-property-wysiwyg" class="submit-property__label">Description *</label>
                <%= r.text_area :description, id: "submit-property-wysiwyg", required: true %>
            </div><!-- .submit-property__group -->

            <div class="row">
                <div class="col-md-4">
                    <div class="submit-property__group">
                        <label for="property-price" class="submit-property__label">Type *</label>
                        <%= r.text_field :description, class: "submit-property__field", required: true%>
                        <span class="submit-property__unit">Detailed description of the task</span>
                    </div><!-- .submit-property__group -->
                </div><!-- .col -->                

                <div class="col-md-4">
                    <div class="submit-property__group">
                        <label for="property-price" class="submit-property__label">Description *</label>
                        <%= r.text_field :requirement_type, class: "submit-property__field", required: true%>
                        <span class="submit-property__unit">Detailed description of the task</span>
                    </div><!-- .submit-property__group -->
                </div><!-- .col -->                

            </div><!-- .row -->

            <div class="submit-property__group">
                <label for="submit-property-wysiwyg" class="submit-property__label">Description *</label>
                <%= r.text_area :is_mandatory, id: "submit-property-wysiwyg", required: true %>
            </div><!-- .submit-property__group -->
        </div><!-- .submit-property__block -->
      <% end %>

      <%= form.fields_for :faqs do |f| %>
          <div class="submit-property__block">
            <h3 class="submit-property__headline">FAQs</h3>
            

            <div class="row">
                <div class="col-md-6">
                    <div class="submit-property__group">
                        <label for="property-price" class="submit-property__label">Question *</label>
                        <%= f.text_field :question, class: "submit-property__field", required: true%>
                        <span class="submit-property__unit">Detailed description of the task</span>
                    </div><!-- .submit-property__group -->
                </div><!-- .col -->                              

            </div><!-- .row -->

            <div class="row">
                <div class="col-md-6">
                  <div class="submit-property__group">
                      <label for="submit-property-wysiwyg" class="submit-property__label">Answer *</label>
                      <%= f.text_area :answer, id: "submit-property-wysiwyg", required: true %>
                  </div><!-- .submit-property__group -->
                </div><!-- .col -->                              

            </div><!-- .row -->
        </div><!-- .submit-property__block -->
      <% end %>

      <button type="submit" class="submit-property__submit">Submit</button>
      <a href="<%= services_path %>" class="submit-property__submit" style="background-color: #1FC2E1;">Cancel</a>

  </div>
<% end %>
