<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" style="padding-bottom: 10px">
    <div class="boxes">
      <div class="box-img">
        <img src="<%= asset_path( 'MobileApps.png' ) %>">
      </div>
      <div class="user-detail-main">
        <div class="user-detail-img">
          <img src="<%= asset_path( 'MobileApps.png' ) %>">
        </div>
        <div class="user-detail">
          <a><h3><%= f.user.profile.first.first_name %></h3></a>
          <p>Level 1 Seller</p>
        </div>
        <div class="user-detail-para">
          <p><%= f.description %></p>
        </div>
        <div style="padding-top: 50px;">
          <i class="fas fa-star" style="color: #ffbf00"></i> (5)
        </div>
      </div>
      <div class="user-detail-footer">
        <div class="heart-icon">
          <%= link_to mark_as_favorite_user_service_path(f.user, f), method: :post, remote: true do %>
            <i class="fas fa-heart" style="<%= f.favorites.find_by(user_id: current_user.id).nil? ? "color: #c6c6c6" : "color: black"%>"></i>
          <% end %>
          <i class="fas fa-bars" style="color: #c6c6c6"></i>
        </div>
        <div class="user-value">
          <p>Starting At $ <%= f.packages.first.price%></p>
        </div>
      </div>
    </div>
</div>
