


<section class="contact">
  <div class="container" style="width: 75%">
      <br/>
      <div class="row" style="text-align: center;">
        <div class"col-md-3"></div>
        <div class"col-md-6">
          <h2 class="contact__title" style="color: #EC4836;"><%= @flag ? 'Create' : 'Edit' %> Profile</h2>
          <hr style="border-color: #EC4836;    margin: 18px 400px;
          "/>
        </div>
        <div class"col-md-3"></div>
      </div>

      <div class="row">
        <div class="col-md-6">
        <%= form_with(model: @profile, local: true) do |form| %>

          <%= form.hidden_field:user_id, value: current_user.id%>
          <label for="profile-first-name" class="my-profile__label">First Name</label>
          <%= form.text_field :first_name, class: "my-profile__field"  %>

          <label for="profile-last-name" class="my-profile__label">Last Name</label>
          <%= form.text_field :last_name , class: "my-profile__field" %>


          <label for="profile-number" class="my-profile__label">Phone Number</label>
          <%= form.text_field :ph_no , class: "my-profile__field" %>

          <label for="profile-email" class="my-profile__label">Email</label>
          <input type="email" value="<%= current_user.email%>" class="my-profile__field" id="profile-email", readonly = true>

          <label for="profile-twitter" class="my-profile__label">Twitter Address</label>
          <%= form.text_field :twitter_add , class: "my-profile__field" %>            

          <label for="profile-facebook" class="my-profile__label">Facebook Address</label>
          <%= form.text_field :facebook_add , class: "my-profile__field" %>            
          

          <label for="profile-linkedin" class="my-profile__label">Linkedin Address</label>
          <%= form.text_field :linkedin_add , class: "my-profile__field" %>            
          
        </div><!-- .col -->
              
          <div class="col-md-5">
            <label for="profile-introduce" class="my-profile__label">About Me</label>
            <%= form.text_area :about_me ,  id: "profile-introduce", rows: "20", class: "my-profile__field" %>

            <label for="profile-avatar" class="my-profile__label">Image Url</label>
            <div class="">
            <%= form.text_field :iamge_url %>                  
            </div>
            <br/>

            <%= form.submit 'Save', class: "contact-form__submit contact-form__submit--contact",  style: "background-color: #EC4836; max-width: 100%"%>
      <% end %>
        </div><!-- .col -->
      </div><!-- .row -->
    </div><!-- .contact__main -->
  </div>
</section><!-- .contact -->