<%= form_with(model: list_furniture, local: true) do |form| %>
  <% if list_furniture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list_furniture.errors.count, "error") %> prohibited this list_furniture from being saved:</h2>

      <ul>
      <% list_furniture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size %>
  </div>

  <div class="field">
    <%= form.label :material %>
    <%= form.text_field :material %>
  </div>

  <div class="field">
    <%= form.label :total_no %>
    <%= form.text_field :total_no %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
