<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @property.title %>
</p>

<p>
  <strong>Property type:</strong>
  <%= @property.property_type %>
</p>

<p>
  <strong>Offer:</strong>
  <%= @property.offer %>
</p>

<p>
  <strong>Rental period:</strong>
  <%= @property.rental_period %>
</p>

<p>
  <strong>Property price:</strong>
  <%= @property.property_price %>
</p>

<p>
  <strong>Propert area:</strong>
  <%= @property.propert_area %>
</p>

<p>
  <strong>Property room:</strong>
  <%= @property.property_room %>
</p>

<p>
  <strong>Description:</strong>
  <%= @property.description %>
</p>

<p>
  <strong>Google map address:</strong>
  <%= @property.google_map_address %>
</p>

<p>
  <strong>Friendly address:</strong>
  <%= @property.friendly_address %>
</p>

<p>
  <strong>Longtitude:</strong>
  <%= @property.longtitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @property.latitude %>
</p>

<p>
  <strong>Region:</strong>
  <%= @property.region %>
</p>

<p>
  <strong>Building year:</strong>
  <%= @property.building_year %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @property.bedrooms %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @property.bathrooms %>
</p>

<p>
  <strong>Lot size:</strong>
  <%= @property.lot_size %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @property.parking %>
</p>

<p>
  <strong>Cooling:</strong>
  <%= @property.cooling %>
</p>

<p>
  <strong>Sewer:</strong>
  <%= @property.sewer %>
</p>

<p>
  <strong>Water:</strong>
  <%= @property.water %>
</p>

<p>
  <strong>Exersie room:</strong>
  <%= @property.exersie_room %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
