
    <header>
      <div class="navbar-custom">
        <div class="menu-hamburger">
          <%= image_tag "hamburger.png" %>
        </div>
        <div class="menu-item">
          <a href=""> Buy</a>
        </div>
        <div class="menu-item">
          <a href=""> Rent</a>
        </div>
        <div class="menu-item">
          <a href=""> Sell</a>
        </div>
        <div class="menu-item">
          <a href=""> Home Loans </a>
        </div>
        <div class="menu-item">
          <a href=""> Agent Finder</a>
        </div>
        <div class="menu-logo">
        	<%= image_tag "nav_logo.jpg",:style=>"max-height: 75px;" %>
        </div>
        <div class="menu-item">
          <a href=""> List your rental </a>
        </div>
        <div class="menu-item">
          <a href=""> Advertise </a>
        </div>
        <div class="menu-item">
          <a href=""> Sign in </a>
        </div>
        <div class="menu-item">
          <a href=""> Join</a>
        </div>
        <div class="menu-item">
          <a href=""> Help</a>
        </div>
      </div>
    </header>
    <!-- Header Ends Here -->
    <!-- Banner Section Starts Here -->
    <section class="banner">
      <div class="container">
        <div class="banner-text">
          <h5>Reimagine home</h5>
          <p>We’ll help you find a place you’ll love.</p>
          <form>
            <input type="text" placeholder="Enter an address, neighborhood, city, or ZIP code" name="">
            <input type="submit" value="" name="">
          </form>
        </div>
      </div>
    </section>
    <!-- Banner Section Ends Here -->
    <section class="homes">
      <div class="container">
        <div class="homes-head">
          <h5> We have the most listings and constant updates. <br/>
            So you’ll never miss out.
          </h5>
          <h6></h6>
        </div>
        <div class="homes-data">
          <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
              <div class="home-box">
                <%= image_tag "home1.png" %>
                <h5> Buy a Home </h5>
                <p> Find your place with an immersive photo experience and the most listings, including things you won’t find anywhere else.</p>
                <a href=""> Search Homes </a>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
              <div class="home-box">
               <%= image_tag "home2.png" %>
                <h5> Sell a home</h5>
                <p> Whether you sell with new Zillow Offers™ or take another approach, we’ll help you navigate the path to a successful sale.</p>
                <a href=""> See Your Options </a>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
              <div class="home-box">
                <%= image_tag "home3.png" %>
                <h5> Rent a home </h5>
                <p> We’re creating a seamless online experience – from shopping on the largest rental network, to applying, to paying rent.</p>
                <a href=""> Find Rentals </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Info Listins Starts Here -->
    <section class="info-listings">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
            <div class="info-box">
              <h5>Real Estate <i class="fa fa-angle-down"> </i> </h5>
              <p> <a href=""> Dummy text</a> </p>
              <p> <a href=""> Dummy text</a> </p>
              <p> <a href=""> Dummy text</a> </p>
              <p> <a href=""> Dummy text</a> </p>
              <p> <a href=""> Dummy text</a> </p>
            </div>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
            <div class="info-box">
              <h5>Rentals <i class="fa fa-angle-down"> </i> </h5>
              <p> <a href=""> Dummy text</a> </p>
              <p> <a href=""> Dummy text</a> </p>
              <p> <a href=""> Dummy text</a> </p>
              <p> <a href=""> Dummy text</a> </p>
              <p> <a href=""> Dummy text</a> </p>
            </div>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
            <div class="info-box">
              <h5>Mortgage Rates  <i class="fa fa-angle-down"> </i> </h5>
              <p> <a href=""> Dummy text</a> </p>
              <p> <a href=""> Dummy text</a> </p>
              <p> <a href=""> Dummy text</a> </p>
              <p> <a href=""> Dummy text</a> </p>
              <p> <a href=""> Dummy text</a> </p>
            </div>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
            <div class="info-box">
              <h5> Browse Homes <i class="fa fa-angle-down"> </i> </h5>
              <p> <a href=""> Dummy text</a> </p>
              <p> <a href=""> Dummy text</a> </p>
              <p> <a href=""> Dummy text</a> </p>
              <p> <a href=""> Dummy text</a> </p>
              <p> <a href=""> Dummy text</a> </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Info Listings Ends Here -->
    <section class="footer-links">
      <div class="container">
        <a href=""> Home </a>
        <a href=""> Zestimates </a>
        <a href=""> Research </a>
        <a href=""> Careers </a>
        <a href=""> Help </a>
        <a href=""> Advertise </a>
        <a href=""> Terms of Use & Privacy </a>
        <a href=""> Ad Choice </a>
        <a href=""> Cookie Preference </a>
        <a href=""> Blog </a>
        <a href=""> AI </a>
        <a href=""> Mobile Apps </a>
      </div>
    </section>
    <section class="footer-text">
      <div class="container">
        <p>Zillow Group is committed to ensuring digital accessibility for individuals with disabilities. We are continuously working to improve the accessibility of our web experience for everyone, and we welcome feedback and accommodation requests. If you wish to report an issue or seek an accommodation, please contact us.</p>
        <h5>
          <%= image_tag "nav_logo.jpg" %>
          Follow Us: 
          <span>
          <a href="">
          <i class="fab fa-facebook-f"> </i>
          </a>
          <a href="">
          <i class="fab fa-twitter"> </i>
          </a>
          </span>
          © 2006-2019 Zillow
          <%= image_tag "home-icon.jpg" %>
        </h5>
      </div>
    </section>
    <section class="footer-image">
      <div class="container">
      	<%= image_tag "footer.jpg" %>
      </div>
    </section>
    <!-- Bootstrap Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
      	
      
      	$('.info-box').children("h5").click(function(){
      		$(this).parent(".info-box").children("p").slideToggle()
      		$(this).toggleClass("blue-bg")
      
      	})
      
      
      	var val1 = 0;
      
      	$('.menu-hamburger').children("img").click(function(){
      
      		if(val1==0){
      			$(this).attr("src","images/cross.png")
      		$('.menu-item').slideToggle()
      
      		val1 = 1;
      	
      	}
      	else {
      		$('.menu-item').slideToggle()
      		$(this).attr("src","images/hamburger.png")
      		val1 = 0;
      
      	}
      	})
      })
      
      
    </script>
