<section class="agent-with-button">
  <div class="container">
    <h2 class="section__title">Agent with Button</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="agent-with-button__single">
          <div class="agent-with-button__wrapper">
            <%= image_tag 'uploads/michael-drucker.jpg', alt: 'Michael Drucker' %>
            <div class="agent-with-button__agent">
              <h4 class="agent-with-button__agent-name">Michael Drucker</h4>
              <span class="agent-with-button__agent-position">Zephyr Real Estate</span>
              <%= image_tag 'rating.png', alt: 'Five Stars Rating' %>
            </div><!-- .agent-with-button__agent -->
          </div><!-- .agent-with-button__wrapper -->
          <a href="#" class="agent-with-button__cta">Contact Michael</a>
        </div><!-- .agent-with-button__single -->
      </div><!-- .col -->
      
      <div class="col-md-4">
        <div class="agent-with-button__single">
          <div class="agent-with-button__wrapper">
            <%= image_tag 'uploads/tristina_avelon.png', alt: 'Tristina Avelon' %>
            <div class="agent-with-button__agent">
              <h4 class="agent-with-button__agent-name">Tristina Avelon</h4>
              <span class="agent-with-button__agent-position">Zephyr Real Estate</span>
              <%= image_tag 'rating.png', alt: 'Five Stars Rating' %>
            </div><!-- .agent-with-button__agent -->
          </div><!-- .agent-with-button__wrapper -->
          <a href="#" class="agent-with-button__cta">Contact Tristina</a>
        </div><!-- .agent-with-button__single -->
      </div><!-- .col -->

      <div class="col-md-4">
        <div class="agent-with-button__single">
          <div class="agent-with-button__wrapper">
            <%= image_tag 'uploads/donal_lucian.jpg', alt: 'Donal Lucian' %>
            <div class="agent-with-button__agent">
              <h4 class="agent-with-button__agent-name">Donal Lucian</h4>
              <span class="agent-with-button__agent-position">Zephyr Real Estate</span>
              <%= image_tag 'rating.png', alt: 'Five Stars Rating' %>
            </div><!-- .agent-with-button__agent -->
          </div><!-- .agent-with-button__wrapper -->
          <a href="#" class="agent-with-button__cta">Contact Donal</a>
        </div><!-- .agent-with-button__single -->
      </div><!-- .col -->
    </div><!-- .row -->
  </div><!-- .container -->
</section><!-- .agent-with-button -->