<section class="item-grid">
  <div class="container">
    <div class="row">
      <div class="col-md-4 item-grid__container">
        <div class="listing">
          <div class="item-grid__image-container">
            <a href="single_property_1.html">
              <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
              <%= image_tag 'uploads/real_house_luxury_villa.jpg', alt: 'Real House Luxury Villa', class: 'listing__img'%>
              <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
            </a>
          </div><!-- .item-grid__image-container -->
          <div class="item-grid__content-container">
            <div class="listing__content">
              <h3 class="listing__title"><a href="single_property_1.html">Real House Luxury Villa</a></h3>
              <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
              <p class="listing__price">$2,285,500</p>
              <div class="listing__details">
                <ul class="listing__stats">
                  <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                  <li><span class="listing__figure">3</span> Baths</li>
                  <li><span class="listing__figure">1,250</span> sq.ft</li>
                </ul><!-- .listing__stats -->
                <%= link_to property_path, class: 'listing__btn' do %>
                  <span class="listing__btn-icon">Details  <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                <% end %>
              </div><!-- .listing__details -->
            </div><!-- .listing-content -->
          </div>
        </div><!-- .listing -->
      </div><!-- .col -->
  
      <div class="col-md-4 item-grid__container">
        <div class="listing">
          <div class="item-grid__image-container">
            <a href="single_property_1.html">
              <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
              <%= image_tag 'uploads/dream_house_take_away.jpg', alt: 'Dream House Take Away', class: 'listing__img'%>
              <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
            </a>
          </div><!-- .item-grid__image-container -->

          <div class="item-grid__content-container">
            <div class="listing__content">
              <h3 class="listing__title"><a href="single_property_1.html">House Take Away</a></h3>
              <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
              <p class="listing__price">$85,500/ <span class="listing__price--small">Month</span></p>
              <div class="listing__details">
                <ul class="listing__stats">
                  <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                  <li><span class="listing__figure">3</span> Baths</li>
                  <li><span class="listing__figure">1,250</span> sq.ft</li>
                </ul><!-- .listing__stats -->
                <%= link_to property_path, class: 'listing__btn' do %>
                  <span class="listing__btn-icon">Details  <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                <% end %>
              </div><!-- .listing__details -->
            </div><!-- .listing-content -->
          </div><!-- .item-grid__content-container -->
        </div><!-- .listing -->
      </div><!-- .col -->
  
      <div class="col-md-4 item-grid__container">
        <div class="listing">
          <div class="item-grid__image-container">
            <a href="single_property_1.html">
              <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
              <%= image_tag 'uploads/weston_hightpointe_place.jpg', alt: 'Weston Hightpointe Place', class: 'listing__img'%>
              <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
            </a>
          </div><!-- .item-grid__image-container -->

          <div class="item-grid__content-container">
            <div class="listing__content">
              <h3 class="listing__title"><a href="single_property_1.html">Weston Hightpointe Place</a></h3>
              <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
              <p class="listing__price"><a href="#">Request Price</a></p>
              <div class="listing__details">
                <ul class="listing__stats">
                  <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                  <li><span class="listing__figure">3</span> Baths</li>
                  <li><span class="listing__figure">1,250</span> sq.ft</li>
                </ul><!-- .listing__stats -->
                <%= link_to property_path, class: 'listing__btn' do %>
                  <span class="listing__btn-icon">Details  <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                <% end %>
              </div><!-- .listing__details -->
            </div><!-- .listing-content -->
          </div><!-- .item-grid__content-container -->
        </div><!-- .listing -->
      </div><!-- .col -->
        
      <div class="col-md-4 item-grid__container">
        <div class="listing">
          <div class="item-grid__image-container">
            <a href="single_property_1.html">
              <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
              <%= image_tag 'uploads/sunhouse_apartment_c21.jpg', alt: 'Sunhouse Apartment C21', class: 'listing__img'%>
              <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
            </a>
          </div><!-- .item-grid__image-container -->

          <div class="item-grid__content-container">
            <div class="listing__content">
              <h3 class="listing__title"><a href="single_property_1.html">Sunhouse Apartment C21</a></h3>
              <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
              <p class="listing__price">$2,285,500</p>
              <div class="listing__details">
                <ul class="listing__stats">
                  <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                  <li><span class="listing__figure">3</span> Baths</li>
                  <li><span class="listing__figure">1,250</span> sq.ft</li>
                </ul><!-- .listing__stats -->
                <%= link_to property_path, class: 'listing__btn' do %>
                  <span class="listing__btn-icon">Details  <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                <% end %>
              </div><!-- .listing__details -->
            </div><!-- .listing-content -->
          </div><!-- .item-grid__content-container -->
        </div><!-- .listing -->
      </div><!-- .col -->
      
      <div class="col-md-4 item-grid__container">
        <div class="listing">
          <div class="item-grid__image-container">
            <a href="single_property_1.html">
              <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
              <%= image_tag 'uploads/castalia_shibakoen.jpg', alt: 'Castalia Shibakoen', class: 'listing__img'%>
              <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
            </a>
          </div><!-- .item-grid__image-container -->  

          <div class="item-grid__content-container">
            <div class="listing__content">
              <h3 class="listing__title"><a href="single_property_1.html">Castalia Shibakoen</a></h3>
              <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
              <p class="listing__price">$2,285,500</p>
              <div class="listing__details">
                <ul class="listing__stats">
                  <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                  <li><span class="listing__figure">3</span> Baths</li>
                  <li><span class="listing__figure">1,250</span> sq.ft</li>
                </ul><!-- .listing__stats -->
                <%= link_to property_path, class: 'listing__btn' do %>
                  <span class="listing__btn-icon">Details  <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                <% end %>
              </div><!-- .listing__details -->
            </div><!-- .listing-content -->
          </div><!-- .item-grid__content-container -->
        </div><!-- .listing -->
      </div><!-- .col -->

      <div class="col-md-4 item-grid__container">
        <div class="listing">
          <div class="item-grid__image-container">
            <a href="single_property_1.html">
              <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
              <%= image_tag 'uploads/residia_nishi_azabu.jpg', alt: 'Residia Nishi Azabu', class: 'listing__img'%>
              <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
            </a>
          </div><!-- .item-grid__image-container -->

          <div class="item-grid__content-container">
            <div class="listing__content">
              <h3 class="listing__title"><a href="single_property_1.html">Residia Nishi Azabu</a></h3>
              <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
              <p class="listing__price">$2,285,500</p>
              <div class="listing__details">
                <ul class="listing__stats">
                  <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                  <li><span class="listing__figure">3</span> Baths</li>
                  <li><span class="listing__figure">1,250</span> sq.ft</li>
                </ul><!-- .listing__stats -->
                <%= link_to property_path, class: 'listing__btn' do %>
                  <span class="listing__btn-icon">Details  <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                <% end %>
              </div><!-- .listing__details -->
            </div><!-- .listing-content -->
          </div><!-- .item-grid__content-container -->
        </div><!-- .listing -->
      </div><!-- .col -->
    </div><!-- .row -->

    <div class="item-grid--centered">
      <a href="#" class="item-grid__load-more">Load More</a>
    </div>
  </div><!-- .container -->
</section><!-- .item-grid-3 -->