<main class="col-md-9">
  <div class="property__feature-container">
    <div class="property__slider property__slider--v2">
        <div class="property__slider-container">
          
          <div class="property__slider-main">
            <div class="property__slider-images">
              <div class="property__slider-image">
                <%= image_tag 'uploads/slider.jpeg', alt: 'Image 1'%>
              </div><!-- .property__slider-image -->
  
              <div class="property__slider-image">
                <%= image_tag 'uploads/slider.jpeg', alt: 'Image 1'%>
              </div><!-- .property__slider-image -->
  
              <div class="property__slider-image">
                <%= image_tag 'uploads/slider.jpeg', alt: 'Image 1'%>
              </div><!-- .property__slider-image -->
  
              <div class="property__slider-image">
               <%= image_tag 'uploads/slider.jpeg', alt: 'Image 1'%>
              </div><!-- .property__slider-image -->
  
              <div class="property__slider-image">
                <%= image_tag 'uploads/slider.jpeg', alt: 'Image 1'%>
              </div><!-- .property__slider-image -->
  
              <div class="property__slider-image">
               <%= image_tag 'uploads/slider.jpeg', alt: 'Image 1'%>
              </div><!-- .property__slider-image -->
  
              <div class="property__slider-image">
                <%= image_tag 'uploads/slider.jpeg', alt: 'Image 1'%>
              </div><!-- .property__slider-image -->
  
              <div class="property__slider-image">
               <%= image_tag 'uploads/slider.jpeg', alt: 'Image 1'%>
              </div><!-- .property__slider-image -->
  
              <div class="property__slider-image">
                <%= image_tag 'uploads/slider.jpeg', alt: 'Image 1'%>
              </div><!-- .property__slider-image -->
  
              <div class="property__slider-image">
                <%= image_tag 'uploads/slider.jpeg', alt: 'Image 1'%>
              </div><!-- .property__slider-image -->
  
              <div class="property__slider-image">
                <%= image_tag 'uploads/slider.jpeg', alt: 'Image 1'%>
              </div><!-- .property__slider-image -->
  
              <div class="property__slider-image">
                <%= image_tag 'uploads/slider.jpeg', alt: 'Image 1'%>
              </div><!-- .property__slider-image -->
            </div><!-- .property__slider-images -->
  
            <ul class="image-navigation">
              <li class="image-navigation__prev">
                <span class="ion-ios-arrow-left"></span>
              </li>
              <li class="image-navigation__next">
                <span class="ion-ios-arrow-right"></span>
              </li>
            </ul>
  
            <span class="property__slider-info"><i class="ion-android-camera"></i><span class="sliderInfo"></span></span>
          </div><!-- .property__slider-main -->

          <ul class="property__slider-nav property__slider-nav--horizontal">
            <li class="property__slider-item">
              <%= image_tag 'uploads/slider.jpeg', alt: 'Image 1'%>
            </li><!-- .property__slider-item -->
  
            <li class="property__slider-item">
             <%= image_tag 'uploads/slider.jpeg', alt: 'Image 1'%>
            </li><!-- .property__slider-item -->
  
            <li class="property__slider-item">
              <%= image_tag 'uploads/slider.jpeg', alt: 'Image 1'%>
            </li><!-- .property__slider-item -->
  
            <li class="property__slider-item">
              <%= image_tag 'uploads/slider.jpeg', alt: 'Image 1'%>
            </li><!-- .property__slider-item -->
  
            <li class="property__slider-item">
              <%= image_tag 'uploads/slider.jpeg', alt: 'Image 1'%>
            </li><!-- .property__slider-item -->
  
            <li class="property__slider-item">
              <%= image_tag 'uploads/slider.jpeg', alt: 'Image 1'%>
            </li><!-- .property__slider-item -->
  
            <li class="property__slider-item">
              <%= image_tag 'uploads/slider.jpeg', alt: 'Image 1'%>
            </li><!-- .property__slider-item -->
  
            <li class="property__slider-item">
              <%= image_tag 'uploads/slider.jpeg', alt: 'Image 1'%>
            </li><!-- .property__slider-item -->
  
            <li class="property__slider-item">
              <%= image_tag 'uploads/slider.jpeg', alt: 'Image 1'%>
            </li><!-- .property__slider-item -->
  
            <li class="property__slider-item">
              <%= image_tag 'uploads/slider.jpeg', alt: 'Image 1'%>
            </li><!-- .property__slider-item -->
  
            <li class="property__slider-item">
              <%= image_tag 'uploads/slider.jpeg', alt: 'Image 1'%>
            </li><!-- .property__slider-item -->
  
            <li class="property__slider-item">
              <%= image_tag 'uploads/slider.jpeg', alt: 'Image 1'%>
            </li><!-- .property__slider-item -->
          </ul><!-- .property__slider-nav -->
        </div><!-- .property__slider-container -->
      </div><!-- .property__slider -->

    <div class="property__feature">
      <h3 class="property__feature-title">Open House</h3>
      <div class="property__feature-schedule">
        <ul class="property__feature-time-list">
          <li class="property__feature-time-item">Thu 8/3 6:00pm - 7:30pm</li>
          <li class="property__feature-time-item">Sat 8/5 2:00pm - 4:00pm</li>
          <li class="property__feature-time-item">Sun 8/6 2:00pm - 4:00pm</li>
        </ul>
        <a href="#" class="property__feature-cta">Go See This Home</a>
      </div><!-- .property__feature-schedule -->
      <a href="#" class="property__feature-open-maps"><span class="ion-ios-location-outline"></span> Open on Google Maps</a>
    </div><!-- .property__feature -->

    <div class="property__feature">
      <h3 class="property__feature-title property__feature-title--b-spacing">Property Description</h3>
      <p>Spacious and grand, 3 bedroom, 2 bath (one en-suite) condo boasts 1,752 Sq Ft. Middle unit of a beautiful three-unit 1890's Victorian designed by William Armitage. Period details: high ceilings, ornate moldings, 2 fireplaces, stained glass, beveled glass transoms, hardwood floors. Spacious dining room, remodeled kitchen and wonderful deeded walk-out deck. Convenient in-unit laundry room, deeded parking & storage space.</p>

      <p>Nested among stunning Victorians and located in the vibrant Alamo Square District near the park, Painted Ladies and bustling Divisadero and Fillmore St. corridors. Easy access to downtown's Financial district and public transportation. Walk Score of 93 (paradise).</p>
    </div><!-- .property__feature -->

    <div class="property__feature">
      <h3 class="property__feature-title property__feature-title--b-spacing">Property Details</h3>
      <ul class="property__details-list">
        <li class="property__details-item"><span class="property__details-item--cat">Type:</span> Flat, Low-Rise (1-3)</li>
        <li class="property__details-item"><span class="property__details-item--cat">Year Built:</span> 1890</li>
        <li class="property__details-item"><span class="property__details-item--cat">Square Footage:</span> 1752</li>
        <li class="property__details-item"><span class="property__details-item--cat">Property Subtype:</span> Condominium</li>
        <li class="property__details-item"><span class="property__details-item--cat">Property Type:</span> Condo/Coop/TIC/Loft</li>
        <li class="property__details-item"><span class="property__details-item--cat">HOA Dues:</span> 375 HOA</li>
        <li class="property__details-item"><span class="property__details-item--cat">Fee Includes:</span> Water, Electricity, Garbage, Ext Bldg Maintainance, Security Service, Homeowners Insurance</li>
        <li class="property__details-item"><span class="property__details-item--cat">HOA:</span> Yes</li>
      </ul><!-- .property__details-list -->
    </div><!-- .property__feature -->

    <div class="property__feature">
      <h3 class="property__feature-title property__feature-title--b-spacing">Property Features</h3>
      <ul class="property__features-list">
        <li class="property__features-item"><span class="property__features-icon ion-checkmark-round"></span>Air Conditioning</li>
        <li class="property__features-item"><span class="property__features-icon ion-checkmark-round"></span>Barbeque</li>
        <li class="property__features-item"><span class="property__features-icon ion-checkmark-round"></span>Dryer</li>
        <li class="property__features-item"><span class="property__features-icon ion-checkmark-round"></span>Gym</li>
        <li class="property__features-item"><span class="property__features-icon ion-checkmark-round"></span>Laundry</li>
        <li class="property__features-item"><span class="property__features-icon ion-checkmark-round"></span>Lawn</li>
        <li class="property__features-item"><span class="property__features-icon ion-checkmark-round"></span>Microwave</li>
        <li class="property__features-item"><span class="property__features-icon ion-checkmark-round"></span>Outdoor Shower</li>
        <li class="property__features-item"><span class="property__features-icon ion-checkmark-round"></span>Refrigerator</li>
        <li class="property__features-item"><span class="property__features-icon ion-checkmark-round"></span>Sauna</li>
        <li class="property__features-item"><span class="property__features-icon ion-checkmark-round"></span>Swimming Pool</li>
        <li class="property__features-item"><span class="property__features-icon ion-checkmark-round"></span>TV Cable</li>
        <li class="property__features-item"><span class="property__features-icon ion-checkmark-round"></span>Washer</li>
        <li class="property__features-item"><span class="property__features-icon ion-checkmark-round"></span>Wifi</li>
        <li class="property__features-item"><span class="property__features-icon ion-checkmark-round"></span>Window Coverings</li>
      </ul><!-- .property__features-list -->
    </div><!-- .property__feature -->

    <div class="property__feature">
      <h3 class="property__feature-title property__feature-title--b-spacing">Floor Plans (2)</h3>
      <div class="property__accordion">
        <div class="property__accordion-header">
          <div class="property__accordion-textcontent">
            <span class="property__accordion-title">First Floor</span>
            <ul class="property__accordion-stats">
              <li class="property__accordion-figure"><span class="property__accordion-figure--cat">Size:</span> 2650</li>
              <li class="property__accordion-figure"><span class="property__accordion-figure--cat">Rooms:</span> 1670 Sqft</li>
              <li class="property__accordion-figure"><span class="property__accordion-figure--cat">Baths:</span> 980 Sqft</li>
              <li class="property__accordion-figure"><span class="property__accordion-figure--cat">Prices:</span> $568</li>
            </ul><!-- .property__accordion-stats -->
          </div><!-- .property__accordion-textcontent -->
          <i class="fa fa-caret-up property__accordion-expand" aria-hidden="true"></i> 
        </div><!-- .property__accordion-header -->

        <div class="property__accordion-content property__accordion-content--active">
          <img src="images/uploads/floor_plan.png" alt="Floor Plan">
        </div><!-- .property__accordion-content -->
      </div><!-- .property__accordion -->
      <div class="property__accordion">
        <div class="property__accordion-header">
          <div class="property__accordion-textcontent">
            <span class="property__accordion-title">Second Floor</span>
            <ul class="property__accordion-stats">
              <li class="property__accordion-figure"><span class="property__accordion-figure--cat">Size:</span> 2650</li>
              <li class="property__accordion-figure"><span class="property__accordion-figure--cat">Rooms:</span> 1670 Sqft</li>
              <li class="property__accordion-figure"><span class="property__accordion-figure--cat">Baths:</span> 980 Sqft</li>
              <li class="property__accordion-figure"><span class="property__accordion-figure--cat">Prices:</span> $568</li>
            </ul><!-- .property__accordion-stats -->
          </div><!-- .property__accordion-textcontent -->
          <i class="fa fa-caret-down property__accordion-expand" aria-hidden="true"></i>
        </div><!-- .property__accordion-header -->

        <div class="property__accordion-content">
          <%= image_tag 'uploads/floor_plan.png', alt: 'Floor Plan' %>
        </div><!-- .property__accordion-content -->
      </div><!-- .property__accordion -->
    </div><!-- .property__feature -->

    <div class="property__feature">
      <div class="property__feature-header">
        <h3 class="property__feature-title">Near By</h3>
        <nav class="property__tab-list">
          <a href="#property-school" class="property__tab property__tab--active">School (3)</a>
          <a href="#property-market" class="property__tab">Market (2)</a>
          <a href="#property-restaurant" class="property__tab">Restaurant (5)</a>
          <a href="#property-cafe" class="property__tab">Cafe (1)</a>
          <a href="#property-hospital" class="property__tab">Hospital (1)</a>
        </nav>
      </div><!-- .property__feature-header -->
      <div class="property__tab-container">
        <table class="property__tab-content is-visible" id="property-school">
          <thead>
            <tr>
              <th>List number / Name</th>
              <th>Distance</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="list-number">1</span> GuangZhu Chinese Education Center</td>
              <td>1.5km</td>
              <td>Language Center</td>
            </tr>
            <tr>
              <td><span class="list-number">2</span> Galileo High School</td>
              <td>3km</td>
              <td>High School</td>
            </tr>
            <tr>
              <td><span class="list-number">3</span> Daniel Webster Elementary School</td>
              <td>5km</td>
              <td>High School</td>
            </tr>
          </tbody>
        </table><!-- .property__tab-content -->
      </div><!-- .property__tab-container -->

      <div class="property__tab-container">
        <table class="property__tab-content" id="property-market">
          <thead>
            <tr>
              <th>List number / Name</th>
              <th>Distance</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="list-number">1</span> Roche Bros.</td>
              <td>2km</td>
              <td>Grocery</td>
            </tr>
            <td><span class="list-number">2</span> Mings Supermarket</td>
            <td>5km</td>
            <td>Grocery</td>
          </tbody>
        </table><!-- .property__tab-content -->
      </div><!-- .property__tab-container -->

      <div class="property__tab-container">
        <table class="property__tab-content" id="property-restaurant">
          <thead>
            <tr>
              <th>List number / Name</th>
              <th>Distance</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="list-number">1</span> Ostra</td>
              <td>4km</td>
              <td>Seafood</td>
            </tr>
            <tr>
              <td><span class="list-number">2</span> Mistral</td>
              <td>2.5km</td>
              <td>French</td>
            </tr>
            <tr>
              <td><span class="list-number">3</span> The Capital Grille</td>
              <td>3km</td>
              <td>American</td>
            </tr>
            <tr>
              <td><span class="list-number">4</span> Davio's</td>
              <td>6km</td>
              <td>Italian</td>
            </tr>
            <tr>
              <td><span class="list-number">5</span> Sorellina</td>
              <td>5km</td>
              <td>Italian</td>
            </tr>
          </tbody>
        </table><!-- .property__tab-content -->
      </div><!-- .property__tab-container -->

      <div class="property__tab-container">
        <table class="property__tab-content" id="property-cafe">
          <thead>
            <tr>
              <th>List number / Name</th>
              <th>Distance</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="list-number">1</span> Thinking Cup</td>
              <td>2km</td>
              <td>Fast Service</td>
            </tr>
          </tbody>
        </table><!-- .property__tab-content -->
      </div><!-- .property__tab-container -->

      <div class="property__tab-container">
        <table class="property__tab-content" id="property-hospital">
          <thead>
            <tr>
              <th>List number / Name</th>
              <th>Distance</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="list-number">1</span> Mass General Hospital Back Bay</td>
              <td>3km</td>
              <td>Medical Clinic</td>
            </tr>
          </tbody>
        </table><!-- .property__tab-content -->
      </div><!-- .property__tab-container -->
    </div><!-- .property__feature -->

    <div class="property__feature">
      <h3 class="property__feature-title property__feature-title--b-spacing">Schedule A Visit</h3>
      <form class="property__form">
        <div class="row">
          <div class="col-sm-6">
            <div class="property__form-wrapper">
              <input type="text" name="date" class="property__form-field property__form-date" placeholder="Monday" data-format="l, F d, Y"  data-min-year="2017"  data-max-year="2020" data-translate-mode="true" data-modal="true" data-large-mode="true" required>
              <span class="ion-android-calendar property__form-icon"></span>
            </div><!-- .property__form-wrapper -->
          </div><!-- col -->
          <div class="col-sm-6">
            <div class="property__form-wrapper">
              <input type="text" name="time" class="property__form-field property__form-time" placeholder="07:30 AM" required>
              <span class="ion-android-alarm-clock property__form-icon"></span>
            </div><!-- .property__form-wrapper -->
          </div><!-- col -->
          <div class="col-sm-6">
            <input type="text" name="name" class="property__form-field" placeholder="Your Name" required>
          </div><!-- col -->
          <div class="col-sm-6">
            <input type="text" name="contact" class="property__form-field" placeholder="Your Email/Phone" required>
          </div><!-- col -->
          <div class="col-sm-12">
            <textarea rows="4" name="message" class="property__form-field" placeholder="Message" required></textarea>
          </div><!-- col -->
          <div class="col-sm-12">
            <input name="submit" type="submit" class="property__form-submit" value="Submit"></input>
          </div><!-- .col -->
        </div><!-- .row -->
      </form>
    </div><!-- .property__feature -->
  </div><!-- .property__feature-container -->
</main>