<main class="col-md-12">

  <%= render 'partial/top_bar_rental_list' %>
  <%= render 'partial/rental_list_sort_tag' %>
  <section class="main-listing__item-grid">
    <div class="row" style="margin-bottom: 30px">
      <div class="col-md-4">
        <!-- <div class="item-grid__container"> -->
            <div class="listing">
              <div class="item-grid__image-container">
                <%= link_to property_detail_path do %>
                  <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                  <%= image_tag 'uploads/castalia_shibakoen.jpg', alt: 'Castalia Shibakoen', class: 'listing__img' %>
                  <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                <% end %> 
              </div>  

              <div class="item-grid__content-container">
                <div class="listing__content">
                  <h3 class="listing__title"><%= link_to 'House Take Away', property_detail_path %></h3>
                  <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                  <p class="listing__price">$2,285,500</p>
                  <div class="listing__details">
                    <ul class="listing__stats">
                      <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                      <li><span class="listing__figure">3</span> Baths</li>
                      <li><span class="listing__figure">1,250</span> sq.ft</li>
                    </ul><!-- .listing__stats -->
                    <%= link_to property_detail_path, class: 'listing__btn' do %>
                      <span class="listing__btn-icon">Details  <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    <% end %>
                  </div><!-- .listing__details -->
                </div><!-- .listing-content -->
              </div>
            </div><!-- .listing -->
          </div><!-- .col -->
      <!-- </div> -->
      <div class="col-md-4">
        <!-- <div class="item-grid__container"> -->
          <div class="listing">
            <div class="item-grid__image-container">
              <%= link_to property_detail_path do %>
                <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                <%= image_tag 'uploads/castalia_shibakoen.jpg', alt: 'Castalia Shibakoen', class: 'listing__img' %>
                <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
              <% end %> 
            </div>  

            <div class="item-grid__content-container">
              <div class="listing__content">
                <h3 class="listing__title"><%= link_to 'House Take Away', property_detail_path %></h3>
                <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                <p class="listing__price">$2,285,500</p>
                <div class="listing__details">
                  <ul class="listing__stats">
                    <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                    <li><span class="listing__figure">3</span> Baths</li>
                    <li><span class="listing__figure">1,250</span> sq.ft</li>
                  </ul><!-- .listing__stats -->
                  <%= link_to property_detail_path, class: 'listing__btn' do %>
                    <span class="listing__btn-icon">Details  <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                  <% end %>
                </div><!-- .listing__details -->
              </div><!-- .listing-content -->
            </div>
          </div><!-- .listing -->
        </div><!-- .col -->
      <!-- </div> -->
      <div class="col-md-4">
        <!-- <div class="item-grid__container"> -->
          <div class="listing">
            <div class="item-grid__image-container">
              <%= link_to property_detail_path do %>
                <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                <%= image_tag 'uploads/castalia_shibakoen.jpg', alt: 'Castalia Shibakoen', class: 'listing__img' %>
                <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
              <% end %> 
            </div>  

            <div class="item-grid__content-container">
              <div class="listing__content">
                <h3 class="listing__title"><%= link_to 'House Take Away', property_detail_path %></h3>
                <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                <p class="listing__price">$2,285,500</p>
                <div class="listing__details">
                  <ul class="listing__stats">
                    <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                    <li><span class="listing__figure">3</span> Baths</li>
                    <li><span class="listing__figure">1,250</span> sq.ft</li>
                  </ul><!-- .listing__stats -->
                  <%= link_to property_detail_path, class: 'listing__btn' do %>
                    <span class="listing__btn-icon">Details  <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                  <% end %>
                </div><!-- .listing__details -->
              </div><!-- .listing-content -->
            </div>
          </div><!-- .listing -->
        </div><!-- .col -->
      <!-- </div> -->
    </div>
    <div class="row" style="margin-bottom: 30px">
      <div class="col-md-4">
        <!-- <div class="item-grid__container"> -->
            <div class="listing">
              <div class="item-grid__image-container">
                <%= link_to property_detail_path do %>
                  <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                  <%= image_tag 'uploads/castalia_shibakoen.jpg', alt: 'Castalia Shibakoen', class: 'listing__img' %>
                  <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                <% end %> 
              </div>  

              <div class="item-grid__content-container">
                <div class="listing__content">
                  <h3 class="listing__title"><%= link_to 'House Take Away', property_detail_path %></h3>
                  <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                  <p class="listing__price">$2,285,500</p>
                  <div class="listing__details">
                    <ul class="listing__stats">
                      <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                      <li><span class="listing__figure">3</span> Baths</li>
                      <li><span class="listing__figure">1,250</span> sq.ft</li>
                    </ul><!-- .listing__stats -->
                    <%= link_to property_detail_path, class: 'listing__btn' do %>
                      <span class="listing__btn-icon">Details  <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    <% end %>
                  </div><!-- .listing__details -->
                </div><!-- .listing-content -->
              </div>
            </div><!-- .listing -->
          </div><!-- .col -->
      <!-- </div> -->
      <div class="col-md-4">
        <!-- <div class="item-grid__container"> -->
          <div class="listing">
            <div class="item-grid__image-container">
              <%= link_to property_detail_path do %>
                <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                <%= image_tag 'uploads/castalia_shibakoen.jpg', alt: 'Castalia Shibakoen', class: 'listing__img' %>
                <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
              <% end %> 
            </div>  

            <div class="item-grid__content-container">
              <div class="listing__content">
                <h3 class="listing__title"><%= link_to 'House Take Away', property_detail_path %></h3>
                <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                <p class="listing__price">$2,285,500</p>
                <div class="listing__details">
                  <ul class="listing__stats">
                    <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                    <li><span class="listing__figure">3</span> Baths</li>
                    <li><span class="listing__figure">1,250</span> sq.ft</li>
                  </ul><!-- .listing__stats -->
                  <%= link_to property_detail_path, class: 'listing__btn' do %>
                    <span class="listing__btn-icon">Details  <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                  <% end %>
                </div><!-- .listing__details -->
              </div><!-- .listing-content -->
            </div>
          </div><!-- .listing -->
        </div><!-- .col -->
      <!-- </div> -->
      <div class="col-md-4">
        <!-- <div class="item-grid__container"> -->
          <div class="listing">
            <div class="item-grid__image-container">
              <%= link_to property_detail_path do %>
                <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                <%= image_tag 'uploads/castalia_shibakoen.jpg', alt: 'Castalia Shibakoen', class: 'listing__img' %>
                <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
              <% end %> 
            </div>  

            <div class="item-grid__content-container">
              <div class="listing__content">
                <h3 class="listing__title"><%= link_to 'House Take Away', property_detail_path %></h3>
                <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                <p class="listing__price">$2,285,500</p>
                <div class="listing__details">
                  <ul class="listing__stats">
                    <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                    <li><span class="listing__figure">3</span> Baths</li>
                    <li><span class="listing__figure">1,250</span> sq.ft</li>
                  </ul><!-- .listing__stats -->
                  <%= link_to property_detail_path, class: 'listing__btn' do %>
                    <span class="listing__btn-icon">Details  <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                  <% end %>
                </div><!-- .listing__details -->
              </div><!-- .listing-content -->
            </div>
          </div><!-- .listing -->
        </div><!-- .col -->
      <!-- </div> -->
    </div>

    <div class="row" style="margin-bottom: 30px">
      <div class="col-md-4">
        <!-- <div class="item-grid__container"> -->
            <div class="listing">
              <div class="item-grid__image-container">
                <%= link_to property_detail_path do %>
                  <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                  <%= image_tag 'uploads/castalia_shibakoen.jpg', alt: 'Castalia Shibakoen', class: 'listing__img' %>
                  <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                <% end %> 
              </div>  

              <div class="item-grid__content-container">
                <div class="listing__content">
                  <h3 class="listing__title"><%= link_to 'House Take Away', property_detail_path %></h3>
                  <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                  <p class="listing__price">$2,285,500</p>
                  <div class="listing__details">
                    <ul class="listing__stats">
                      <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                      <li><span class="listing__figure">3</span> Baths</li>
                      <li><span class="listing__figure">1,250</span> sq.ft</li>
                    </ul><!-- .listing__stats -->
                    <%= link_to property_detail_path, class: 'listing__btn' do %>
                      <span class="listing__btn-icon">Details  <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    <% end %>
                  </div><!-- .listing__details -->
                </div><!-- .listing-content -->
              </div>
            </div><!-- .listing -->
          </div><!-- .col -->
      <!-- </div> -->
      <div class="col-md-4">
        <!-- <div class="item-grid__container"> -->
          <div class="listing">
            <div class="item-grid__image-container">
              <%= link_to property_detail_path do %>
                <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                <%= image_tag 'uploads/castalia_shibakoen.jpg', alt: 'Castalia Shibakoen', class: 'listing__img' %>
                <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
              <% end %> 
            </div>  

            <div class="item-grid__content-container">
              <div class="listing__content">
                <h3 class="listing__title"><%= link_to 'House Take Away', property_detail_path %></h3>
                <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                <p class="listing__price">$2,285,500</p>
                <div class="listing__details">
                  <ul class="listing__stats">
                    <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                    <li><span class="listing__figure">3</span> Baths</li>
                    <li><span class="listing__figure">1,250</span> sq.ft</li>
                  </ul><!-- .listing__stats -->
                  <%= link_to property_detail_path, class: 'listing__btn' do %>
                    <span class="listing__btn-icon">Details  <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                  <% end %>
                </div><!-- .listing__details -->
              </div><!-- .listing-content -->
            </div>
          </div><!-- .listing -->
        </div><!-- .col -->
      <!-- </div> -->
      <div class="col-md-4">
        <!-- <div class="item-grid__container"> -->
          <div class="listing">
            <div class="item-grid__image-container">
              <%= link_to property_detail_path do %>
                <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                <%= image_tag 'uploads/castalia_shibakoen.jpg', alt: 'Castalia Shibakoen', class: 'listing__img' %>
                <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
              <% end %> 
            </div>  

            <div class="item-grid__content-container">
              <div class="listing__content">
                <h3 class="listing__title"><%= link_to 'House Take Away', property_detail_path %></h3>
                <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                <p class="listing__price">$2,285,500</p>
                <div class="listing__details">
                  <ul class="listing__stats">
                    <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                    <li><span class="listing__figure">3</span> Baths</li>
                    <li><span class="listing__figure">1,250</span> sq.ft</li>
                  </ul><!-- .listing__stats -->
                  <%= link_to property_detail_path, class: 'listing__btn' do %>
                    <span class="listing__btn-icon">Details  <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                  <% end %>
                </div><!-- .listing__details -->
              </div><!-- .listing-content -->
            </div>
          </div><!-- .listing -->
        </div><!-- .col -->
      <!-- </div> -->
    </div>

    <div class="row" style="margin-bottom: 30px">
      <div class="col-md-4">
        <!-- <div class="item-grid__container"> -->
            <div class="listing">
              <div class="item-grid__image-container">
                <%= link_to property_detail_path do %>
                  <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                  <%= image_tag 'uploads/castalia_shibakoen.jpg', alt: 'Castalia Shibakoen', class: 'listing__img' %>
                  <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                <% end %> 
              </div>  

              <div class="item-grid__content-container">
                <div class="listing__content">
                  <h3 class="listing__title"><%= link_to 'House Take Away', property_detail_path %></h3>
                  <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                  <p class="listing__price">$2,285,500</p>
                  <div class="listing__details">
                    <ul class="listing__stats">
                      <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                      <li><span class="listing__figure">3</span> Baths</li>
                      <li><span class="listing__figure">1,250</span> sq.ft</li>
                    </ul><!-- .listing__stats -->
                    <%= link_to property_detail_path, class: 'listing__btn' do %>
                      <span class="listing__btn-icon">Details  <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    <% end %>
                  </div><!-- .listing__details -->
                </div><!-- .listing-content -->
              </div>
            </div><!-- .listing -->
          </div><!-- .col -->
      <!-- </div> -->
      <div class="col-md-4">
        <!-- <div class="item-grid__container"> -->
          <div class="listing">
            <div class="item-grid__image-container">
              <%= link_to property_detail_path do %>
                <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                <%= image_tag 'uploads/castalia_shibakoen.jpg', alt: 'Castalia Shibakoen', class: 'listing__img' %>
                <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
              <% end %> 
            </div>  

            <div class="item-grid__content-container">
              <div class="listing__content">
                <h3 class="listing__title"><%= link_to 'House Take Away', property_detail_path %></h3>
                <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                <p class="listing__price">$2,285,500</p>
                <div class="listing__details">
                  <ul class="listing__stats">
                    <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                    <li><span class="listing__figure">3</span> Baths</li>
                    <li><span class="listing__figure">1,250</span> sq.ft</li>
                  </ul><!-- .listing__stats -->
                  <%= link_to property_detail_path, class: 'listing__btn' do %>
                    <span class="listing__btn-icon">Details  <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                  <% end %>
                </div><!-- .listing__details -->
              </div><!-- .listing-content -->
            </div>
          </div><!-- .listing -->
        </div><!-- .col -->
      <!-- </div> -->
      <div class="col-md-4">
        <!-- <div class="item-grid__container"> -->
          <div class="listing">
            <div class="item-grid__image-container">
              <%= link_to property_detail_path do %>
                <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                <%= image_tag 'uploads/castalia_shibakoen.jpg', alt: 'Castalia Shibakoen', class: 'listing__img' %>
                <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
              <% end %> 
            </div>  

            <div class="item-grid__content-container">
              <div class="listing__content">
                <h3 class="listing__title"><%= link_to 'House Take Away', property_detail_path %></h3>
                <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                <p class="listing__price">$2,285,500</p>
                <div class="listing__details">
                  <ul class="listing__stats">
                    <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                    <li><span class="listing__figure">3</span> Baths</li>
                    <li><span class="listing__figure">1,250</span> sq.ft</li>
                  </ul><!-- .listing__stats -->
                  <%= link_to property_detail_path, class: 'listing__btn' do %>
                    <span class="listing__btn-icon">Details  <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                  <% end %>
                </div><!-- .listing__details -->
              </div><!-- .listing-content -->
            </div>
          </div><!-- .listing -->
        </div><!-- .col -->
      <!-- </div> -->
    </div>
    <div class="row" style="margin-bottom: 30px">
      <div class="col-md-4">
        <!-- <div class="item-grid__container"> -->
            <div class="listing">
              <div class="item-grid__image-container">
                <%= link_to property_detail_path do %>
                  <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                  <%= image_tag 'uploads/castalia_shibakoen.jpg', alt: 'Castalia Shibakoen', class: 'listing__img' %>
                  <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                <% end %> 
              </div>  

              <div class="item-grid__content-container">
                <div class="listing__content">
                  <h3 class="listing__title"><%= link_to 'House Take Away', property_detail_path %></h3>
                  <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                  <p class="listing__price">$2,285,500</p>
                  <div class="listing__details">
                    <ul class="listing__stats">
                      <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                      <li><span class="listing__figure">3</span> Baths</li>
                      <li><span class="listing__figure">1,250</span> sq.ft</li>
                    </ul><!-- .listing__stats -->
                    <%= link_to property_detail_path, class: 'listing__btn' do %>
                      <span class="listing__btn-icon">Details  <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    <% end %>
                  </div><!-- .listing__details -->
                </div><!-- .listing-content -->
              </div>
            </div><!-- .listing -->
          </div><!-- .col -->
      <!-- </div> -->
      <div class="col-md-4">
        <!-- <div class="item-grid__container"> -->
          <div class="listing">
            <div class="item-grid__image-container">
              <%= link_to property_detail_path do %>
                <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                <%= image_tag 'uploads/castalia_shibakoen.jpg', alt: 'Castalia Shibakoen', class: 'listing__img' %>
                <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
              <% end %> 
            </div>  

            <div class="item-grid__content-container">
              <div class="listing__content">
                <h3 class="listing__title"><%= link_to 'House Take Away', property_detail_path %></h3>
                <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                <p class="listing__price">$2,285,500</p>
                <div class="listing__details">
                  <ul class="listing__stats">
                    <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                    <li><span class="listing__figure">3</span> Baths</li>
                    <li><span class="listing__figure">1,250</span> sq.ft</li>
                  </ul><!-- .listing__stats -->
                  <%= link_to property_detail_path, class: 'listing__btn' do %>
                    <span class="listing__btn-icon">Details  <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                  <% end %>
                </div><!-- .listing__details -->
              </div><!-- .listing-content -->
            </div>
          </div><!-- .listing -->
        </div><!-- .col -->
      <!-- </div> -->
      <div class="col-md-4">
        <!-- <div class="item-grid__container"> -->
          <div class="listing">
            <div class="item-grid__image-container">
              <%= link_to property_detail_path do %>
                <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                <%= image_tag 'uploads/castalia_shibakoen.jpg', alt: 'Castalia Shibakoen', class: 'listing__img' %>
                <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
              <% end %> 
            </div>  

            <div class="item-grid__content-container">
              <div class="listing__content">
                <h3 class="listing__title"><%= link_to 'House Take Away', property_detail_path %></h3>
                <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                <p class="listing__price">$2,285,500</p>
                <div class="listing__details">
                  <ul class="listing__stats">
                    <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                    <li><span class="listing__figure">3</span> Baths</li>
                    <li><span class="listing__figure">1,250</span> sq.ft</li>
                  </ul><!-- .listing__stats -->
                  <%= link_to property_detail_path, class: 'listing__btn' do %>
                    <span class="listing__btn-icon">Details  <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                  <% end %>
                </div><!-- .listing__details -->
              </div><!-- .listing-content -->
            </div>
          </div><!-- .listing -->
        </div><!-- .col -->
      <!-- </div> -->
    </div>    
    
  </section><!-- .main-listing__item-grid -->

  <ul class="pagination pagination--t-margin">
    <li class="pagination__item">
      <a href="#" class="pagination__link pagination__link_prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </li>
    <li class="pagination__item"><a href="#" class="pagination__link pagination__link--selected">1</a></li>
    <li class="pagination__item"><a href="#" class="pagination__link">2</a></li>
    <li class="pagination__item"><a href="#" class="pagination__link">3</a></li>
    <li class="pagination__item"><a href="#" class="pagination__link pagination__link_next"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
  </ul>
  <!-- pagination -->
</main><!-- .col -->