<section class="blog-single">
  <div class="container">
    <ul class="ht-breadcrumbs ht-breadcrumbs--y-padding ht-breadcrumbs--b-border">
      <li class="ht-breadcrumbs__item"><%= link_to "Home", root_path, class: 'ht-breadcrumbs__link ht-breadcrumbs__title' %></li>
      <li class="ht-breadcrumbs__item"><%= link_to "Pages", root_path, class: 'ht-breadcrumbs__link ht-breadcrumbs__title' %></li>
      <li class="ht-breadcrumbs__item"><span class="ht-breadcrumbs__page">Blog Single</span></li>
    </ul><!-- ht-breadcrumb -->

    <div class="blog-single__main">
      <article>
        <div class="news__thumbnail--single">
          <%= image_tag 'uploads/blog_single.jpg', alt: 'Fridays Final Thought: Music and Productivity'%>
        </div><!-- .news__thumbnail--single -->

        <div class="news__wrapper">
          <div class="news__share">
            <span class="news__share-text">Share on</span>
            <ul class="news__share-list">
              <li class="news__share-item">
                <a href="#" class="news__share-link"><i class="ion-social-facebook"></i></a>
              </li>  
              <li class="news__share-item">
                <a href="#" class="news__share-link"><i class="ion-social-twitter"></i></a>
              </li>
              <li class="news__share-item">
                <a href="#" class="news__share-link"><i class="ion-social-googleplus"></i></a>
              </li>
              <li class="news__share-item">
                <a href="#" class="news__share-link"><i class="ion-social-linkedin"></i></a>
              </li>
            </ul><!-- .news__share-list -->
          </div><!-- .news__share -->
          <div class="news__inner">
            <div class="news__header">
              <span class="news__cat">Uncategory</span>
              <h1 class="news__title--single">Friday's Final Thought: Music and Productivity</h1>
              <span class="news__desc">Go ahead and crank up the volumn, but keep these pointers in mind: </span>
              <span class="news__meta news__meta-time news__meta-time--single">
                <span class="ion-ios-calendar-outline"></span> Jun 16, 2017
              </span>
              <span class="news__meta news__meta-comment--single">
                <span class="ion-ios-chatboxes-outline"></span> 02 Comments
              </span>
            </div><!-- .news__header -->
            <div class="news__entry">
              <p>"Project Cars 2" goes on sale Sept. 22 for PS4, Xbox One and PC. The second in the series of racing games from Bandai Namco will feature nine racing classes/disciplines, 180 cars and multiclass racing, where the player is awarded both for overal and in-class finishes.</p>
              <p>In the trailer, we can find classic and current F1 cars, endurance prototypes and street cars decked out in race trim. "PC2" also features weather changes, with Monaco looking a little cloudy and rainy at the John Player Special rounds the curve. An expanded career mode gives players a chance to test their mettle starting at the grassroots and processing of the top levels of racing. Spend one or multiple seasons in any one discipline and then move on - or not.</p>

              <p>The Electronics Entertainment Expo in Las Vegas next week, and we'll expect to get a little more news there. We'll also keep our eye out for other racing game news fron Polyphony Digital's "Gran Turismo Sport", Codemasters' "Dirt 4" and "F1 2017"</p>
            </div><!-- .news__entry -->

            <div class="news__author">
              <div class="news__author-image">
                <%= image_tag 'uploads/jake_lingeman.jpg', alt: 'Jake Lingeman'%>
              </div><!-- .news__author-image -->
              <div class="news__author-content">
                <h4 class="news__author-name">Jake Lingeman</h4>
                <p class="news__author-desc">Jake Lingeman is Road Test Editor at Autoweek, reviewing cars, reporting on car news, car tech and the world at large.</p>
                <a href="#" class="news__author-more">See more by this author &raquo;</a>
              </div><!-- .news__author-content -->
            </div><!-- .news__author -->
            <div class="news__tags">
              <span><i class="ion-pricetags news__tags-icon"></i> Tags</span>
              <a href="#" class="news__tag">auto,</a>
              <a href="#" class="news__tag">car,</a>
              <a href="#" class="news__tag">F1,</a>
              <a href="#" class="news__tag">speed,</a>
              <a href="#" class="news__tag">blogger</a>
            </div><!-- news__tags -->
          </div><!-- .news__inner -->
        </div><!-- news__wrapper -->

        <div class="news__navigation">
          <div class="nav-links">
            <div class="nav-previous">
              <div class="nav-image">
                <a href="#">
                  <%= image_tag 'uploads/news_navigation_prev.jpg', alt: 'Previous'%>
                </a>
              </div><!-- .nav-image -->
              <div class="nav-content">
                <a href="#">
                  <h4 class="nav-title">Good Way to Dosis Amet Generate Leads</h4>
                  <span class="nav-subtitle"><i class="ion-android-arrow-dropleft-circle nav-subtitle-icon"></i> Previous</span>
                </a>
              </div><!-- .nav-content -->
            </div><!-- .nav-previous -->

            <div class="nav-next">
              <div class="nav-content">
                <a href="#">
                  <h4 class="nav-title">Lova to Am Additional Value to the Search</h4>
                  <span class="nav-subtitle">Next <i class="ion-android-arrow-dropright-circle nav-subtitle-icon"></i></span>
                </a>
              </div><!-- .nav-content -->
              <div class="nav-image">
                <a href="#">
                  <%= image_tag 'uploads/news_navigation_next.jpg', alt: 'Previous'%>
                </a>
              </div><!-- .nav-image -->
            </div><!-- .nav-next -->
          </div><!-- .nav-links -->
        </div><!-- .news__navigation -->

        <div id="comments" class="comments-area">
          <h2 class="comments-title">Comments (2)</h2>

          <ol class="comment-list">
            <li id="comment-1" class="comment">
              <div class="comment-wrapper">
                <div class="comment-avatar">
                  <%= image_tag 'uploads/comment_avatar_1.jpg', alt: 'Billu Manson'%>
                </div><!-- .comment-avatar -->

                <div class="comment-main">
                  <div class="comment-meta">
                    <h3 class="comment-author"><a href="#">Billu Manson</a></h3>
                    <span class="comment-date">June 30, 2017</span>
                    <span class="comment-reply"><a href="#">Reply</a></span>
                  </div><!-- .comment-meta -->

                  <div class="comment-content">
                    <p>Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag. Selfies iPhone Kickstarter, drinking vinegar jean.</p>
                  </div><!-- .comment-content -->
                </div><!-- .comment-main -->
              </div><!-- .comment-wrapper -->
            </li>
            <li id="comment-2" class="comment">
              <div class="comment-wrapper">
                <div class="comment-avatar">
                  <%= image_tag 'uploads/comment_avatar_2.jpg', alt: 'Wislan Aklan'%>
                </div><!-- .comment-avatar -->

                <div class="comment-main">
                  <div class="comment-meta">
                    <h3 class="comment-author"><a href="#">Wislan Aklan</a></h3>
                    <span class="comment-date">June 30, 2017</span>
                    <span class="comment-reply"><a href="#">Reply</a></span>
                  </div><!-- .comment-meta -->

                  <div class="comment-content">
                    <p>Stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep laborum. Aliquip veniam.</p>
                  </div><!-- .comment-content -->
                </div><!-- .comment-main -->
              </div><!-- .comment-wrapper -->
            </li>
          </ol>
        </div><!-- #comments -->

        <div id="respond" class="comment-respond">
          <h3 class="comment-respond-title">Leave Your Comment</h3>
          <form method="post" action="blog_single.html" class="comment-form">
            <p class="comment-form-author">
              <input type="text" id="author" name="author" required placeholder="Name *" aria-required="true" class="comment-form-field">
            </p>
            <p class="comment-form-email">
              <input type="email" id="email" name="email" required placeholder="Email *" aria-required="true" class="comment-form-field">
            </p>
            <p class="comment-form-comment">
              <textarea name="" id="" cols="30" rows="4" required placeholder="Comment" aria-required="true" class="comment-form-field"></textarea>
            </p>
            <p class="form-submit">
              <button type="submit" class="comment-form-submit">Submit Now</button>
            </p>
          </form>
        </div><!-- .comment-respond -->
      </article>
    </div><!-- .blog-single__main -->
  </div><!-- .container -->
</section><!-- .blog-single -->