
<div class="login-background">

<div class="row" style="padding:150px 0;">
  <div id="user-account-form" style="background-color: #EC4836;">
    <div class="rounded-content-frame__content current" id="login">
      <h2 class="title" style="color: white; text-align: center">
        Sign in
      </h2>
    </div>
    <div class="mb3">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-simple" }) do |f| %>
        <fieldset class="mb2">
          <ol>
            <li><%= devise_error_messages! %></li>
            <li class="mb3">
              <%= f.email_field :email, autofocus: true,:placeholder=>"Email",:required=>true %>
            </li>
          </ol>

          <ol>
            <li class="mb3 relative">
              <div class="relative">
                <%= f.password_field :password, autocomplete: "off",:placeholder=>"Password",:required=>true %>
              </div>
              <%= link_to "Forgot your password?", new_password_path(resource_name),:class=>"forgot-password-link",  style: "color: white;" %>
            <li>
          </ol>

          <ol>
            <li class="m0">
              <%= f.submit "Sign in",:class=>"btn  btn--block submit ",  style: " background: #006aff;
              color: white;"%>
            <li>
          </ol>
        </fieldset>
      <% end %>
    </div>
    <div class="rounded-content-frame__footer">
      <%= link_to("Sign Up",new_user_registration_path,:class=>"bold js-switch-to-login", style: "color: white;") %>
    </div>
    
  </div>
</div>



</div>
