<p id="notice"><%= notice %></p>

<p>
  <strong>Room type:</strong>
  <%= @rental_list.room_type %>
</p>

<p>
  <strong>Person capicty:</strong>
  <%= @rental_list.person_capicty %>
</p>

<p>
  <strong>Location:</strong>
  <%= @rental_list.location %>
</p>

<p>
  <strong>Propert type:</strong>
  <%= @rental_list.propert_type %>
</p>

<p>
  <strong>Property type cat:</strong>
  <%= @rental_list.property_type_cat %>
</p>

<p>
  <strong>Is dedicated:</strong>
  <%= @rental_list.is_dedicated %>
</p>

<p>
  <strong>Guest no acc:</strong>
  <%= @rental_list.guest_no_acc %>
</p>

<p>
  <strong>Beedrooms no:</strong>
  <%= @rental_list.beedrooms_guest_use %>
</p>

<p>
  <strong>Bathrooms no:</strong>
  <%= @rental_list.bathrooms_guest_no %>
</p>

<p>
  <strong>Address:</strong>
  <%= @rental_list.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @rental_list.city %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @rental_list.postal_code %>
</p>

<p>
  <strong>State:</strong>
  <%= @rental_list.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @rental_list.country %>
</p>

<p>
  <strong>Descritption:</strong>
  <%= @rental_list.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @rental_list.title %>
</p>

<%= link_to 'Edit', edit_rental_list_path(@rental_list) %> |
<%= link_to 'Back', rental_lists_path %>
