<p id="notice"><%= notice %></p>

<p>
  <strong>Art name:</strong>
  <%= @list_art.art_name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @list_art.art_type %>
</p>

<p>
  <strong>Price:</strong>
  <%= @list_art.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @list_art.description %>
</p>

<p>
  <strong>Size:</strong>
  <%= @list_art.size %>
</p>

<p>
  <strong>Url:</strong>
  <%= @list_art.url %>
</p>

<%= link_to 'Edit', edit_list_art_path(@list_art) %> |
<%= link_to 'Back', list_arts_path %>
