<%#= stylesheet_link_tag 'footer' %>
<footer>
  <div class="top-footer">
    <div class="container-fluid" style="display: block;">
      <div class="row">
        <!-- <div class="col-sm-12"> -->
        <!-- <div class="row"> -->

        <div class="col-md-2 text-center">
          <a href="/"><img src="<%=image_path("RESNlogo.png")%>" alt="" class="img-responsvie" style="height: 130px; width: 200px;"></a>
            <div class="col-sm-12 col-md-12 footer__links-single">
              <div class="row social_row">
                <%= image_tag "icon_facebook.png", class: "social_icon" %>
                <%= image_tag "icon_instagram.png", class: "social_icon" %>
                <%= image_tag "icon_twitter.png", class: "social_icon" %>
                <%= image_tag "icon_linkedin.png", class: "social_icon" %>
              </div>
            </div>
        </div>  


        <div class="footer-col col-md-2 col-sm-6 footer-col-first text-center" style="margin-top: 2%;">
          <h3 class="footer-col-title"></h3>
          <hr style="border: 1px solid black; width: 100px; margin-left: 40px;">
          <ul class="footer-col-menu">


            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/partners">Partners</a></li>
            <li><a href="/contact">Contact</a></li>
            <!-- <li><a href="/margin-bottomileApps">Apps</a></li> -->

          </ul>
        </div>

         <div class="footer-col col-md-2 col-sm-6 footer-col-first text-center" style="margin-top: 2%;">
          <h3 class="footer-col-title"></h3>
          <hr style="border: 1px solid black; width: 100px; margin-left: 40px;">
          <ul class="footer-col-menu">


            <li><a href="<%=buy_path%>">Buy</a></li>
            <li><a href="<%=rent_path%>">Rent</a></li>
            <li><a href="<%=sell_path%>">Sell</a></li>
           

          </ul>
        </div>


         <div class="footer-col col-md-2 col-sm-6 footer-col-first text-center" style="margin-top: 2%;">
          <h3 class="footer-col-title"></h3>
          <hr style="border: 1px solid black; width: 100px; margin-left: 40px;">
          <ul class="footer-col-menu">

            <li><a href="<%=realtors_path%>">Realtors</a></li>
            <li><a href="<%=mortgage_path%>">Mortage</a></li>
            <li><a href="<%=insurance_path%>">Insurance</a></li>
           

           

          </ul>
        </div>

        <div class="footer-col col-md-2 col-sm-6 footer-col-second text-center" style="margin-top: 2%;">
          <h3 class="footer-col-title"></h3>
          <hr style="border: 1px solid black; width: 100px; margin-left: 40px;">
          <ul class="footer-col-menu">

            <li><a href="#">Services</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Education</a></li>

          </ul>
        </div>

        <div class="footer-col col-md-2 col-sm-6 footer-col-second text-center" style="margin-top: 2%;">
          <h3 class="footer-col-title"></h3>
          <hr style="border: 1px solid black; width: 100px; margin-left: 40px;">
          <ul class="footer-col-menu">

            <li><a href="<%=privacy_policy_path%>">Privacy Policy</a></li>
            <li><a href="%=term_of_use_path%>">Terms of use</a></li>
            <li><a href="/cookies-policy">Cookies Policy</a></li>
<!-- 
            <li><i class="fa fa-circle" aria-hidden="true"></i><a href="<%#=developers_path%>">Developers</a></li>
            <li><i class="fa fa-circle" aria-hidden="true"></i><%#= link_to 'Pricing', pricing_plan_path %></li>
            <li><i class="fa fa-circle" aria-hidden="true"></i><a href="<%#=mission_path%>">Mission</a></li>
            <li><i class="fa fa-circle" aria-hidden="true"></i><%#= link_to 'Vision', vision_path %></li> -->


           <!--  <li><i class="fa fa-circle" aria-hidden="true"></i><%#=link_to 'Art', art_path%></li>
            <li><i class="fa fa-circle" aria-hidden="true"></i><a href="<%#=cowork_path%>">Cowork</a></li>
            <li><i class="fa fa-circle" aria-hidden="true"></i><a href="<%#=fashion_path%>">Fashion</a></li>
            <li><i class="fa fa-circle" aria-hidden="true"></i><a href="<%#=furniture_path%>">Furniture</a></li>
            <li><i class="fa fa-circle" aria-hidden="true"></i><a href="<%#=exchange_path%>">Exchange</a></li> -->
            <!-- <li><i class="fa fa-circle" aria-hidden="true"></i><a href="<%#=party_path%>">Hackathon</a></li> -->
          <!--   <li><i class="fa fa-circle" aria-hidden="true"></i><a href="<%#=hardware_path%>">Hardware</a></li>
            <li><i class="fa fa-circle" aria-hidden="true"></i><a href="<%#=microchips_path%>">Microchips</a></li>
            <li><i class="fa fa-circle" aria-hidden="true"></i><a href="<%#=products_path%>">Products</a></li>
            <li><i class="fa fa-circle" aria-hidden="true"></i><a href="<%#=properties_path%>">Properties</a></li>
            <li><i class="fa fa-circle" aria-hidden="true"></i><a href="<%#=repository_path%>">Repository</a></li>
            <li><i class="fa fa-circle" aria-hidden="true"></i><a href="<%#=software_path%>">Software</a></li> -->
            <!-- <li><i class="fa fa-circle" aria-hidden="true"></i><a href="<%#=studio_path%>">Studio</a></li> -->
            <!-- <li><i class="fa fa-circle" aria-hidden="true"></i><a href="<%#=storage_path%>">Storage</a></li> -->
            <!-- <li><i class="fa fa-circle" aria-hidden="true"></i><a href="#">Contact</a></li> -->
          </ul>
        </div>
       <!--  <div class="footer-col col-md-3 col-sm-6 footer-col-last">
          <h3 class="footer-col-title">Subscribe</h3>
          <p>Get the lastest news <span style="font-size: 13px !important">in your inbox!</span></p>
          <form method="" action="" class="subscribe">
            <input type="email" name="email" placeholder="Your Mail">
            <input type="submit" name="submit" value="&#xf0a9">
          </form>
        </div> -->
        <!-- </div> -->
      <!-- </div> -->
      </div>
    </div>
  </div>
  <div class="copyright-footer" style="margin-bottom: 2%">
    <!-- <p style="margin-bottom: -15px;"> -->
      <!-- <a href="<%#=new_user_registration_path%>" style="margin-right: 10px;">SignUp </a> - <a href="<%#=new_user_session_path%>" style="margin-left: 10px;"> SignIn</a></p> -->
    <p style="margin-left: 4%; margin-bottom: -15px; font-size: 8px; margin-top: -10px;">Copyright © 2020 <a href="#">RESN, INC</a><%#= image_tag 'ruby_ring.png' %></p>
    <!-- <p style="text-align: center; margin-bottom: -15px;"><a href="<%=privacy_policy_path%>">Privacy Policy</a> - <a href="<%=term_of_use_path%>">Terms of Use</a></p>
    <p style="text-align: center;"><a href="/cookies-policy">Cookies Policy</a></p> -->
  </div>

</footer>

<!-- <a href="#" class="scrollup"><i class="fa fa-angle-up" aria-hidden="true"></i></a> -->

<style type="text/css">
  footer {
    /*background: #0e2338;*/
    /*background: url(<%#=image_path('bg.jpg')%>) center top no-repeat;*/
    background-size: cover;
    text-align: left;
  }
  .scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 20px;
    display: none;
    background-color: gray;
    border-radius: 3px;
    text-align: center;
    line-height: 40px;
  }
  .scrollup i.fa {
    color: #fff;
    font-family: FontAwesome;
    font-size: 20px;
  }
  .cust_link > a {
    color: black !important
  }









@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
.fa-circle:before {
  display: none;
}

footer .top-footer {
  /*padding: 30px 0 40px;*/
  /*background: #000000;*/
  color: #fff;
}

footer .top-footer h3.footer-col-title,
footer .top-footer h3.footer-col-title-last {
  font-size: 16px;
  text-transform: uppercase;
  /*border-bottom: 1px solid #333;*/
  padding-bottom: 10px;
  margin-bottom: 15px;
  color: black;
  font-weight: bold;
}

footer .top-footer h3.footer-col-title-last {
  margin-top: 20px;
  border: none;
  margin-bottom: 10px;
}
footer .top-footer .footer-col form.subscribe {
  display: flex;
  width: 100%;
  max-width: 300px;
}
footer .top-footer .footer-col form.subscribe input[type="email"] {
  height: 35px;
  border-radius: 0;
  border: 1px solid #6223f0;
  background: rgba(255, 255, 255, 0.3);
  text-indent: 5px;
  width: 100%;
}
footer .top-footer .footer-col-last p {
  font-size: 13px;
  text-align: left;
  color: #6223f0;
}
footer .top-footer .footer-col-last p > span {
  color: #6223f0;
  font-size: 25px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}
footer .top-footer .footer-col form.subscribe input[type="submit"] {
  background: #6223f0;
  color: #fff;
  font-weight: bold;
  border-radius: 0;
  border: 1px solid #6223f0;
  font-family: FontAwesome;
  padding: 0 10px;
}
footer .top-footer ul.footer-col-menu > li > a {
  color: #6223f0;
  font-size: 13px;
  line-height: 1.4em;
}
footer .top-footer ul.footer-col-menu > li > a:hover {
  color: #bbb;
}
footer .top-footer ul.footer-col-menu > li > .fa,
footer .top-footer ul.footer-col-menu > li > a > i.fa {
  padding-right: 10px;
  font-size: 5px;
  position: relative;
  top: -4px;
  color: #ddd;
}
footer .top-footer ul.footer-col-social {
  display: inline-block;
  margin-top: 10px;
}
footer .top-footer ul.footer-col-social li {
  float: left;
  width: 35px;
  /*height: 35px;
  border: 1px solid #fff;*/
  margin-right: 3px;
}
footer .top-footer ul.footer-col-social li > a {
  color: #fff;
  font-size: 15px;
  width: 100%;
  height: 27px;
  line-height: 1;
  text-align: center;
  display: block;
}
footer .top-footer ul.footer-col-social li > a > span:before,
section.my-team ul > li span:before {
  border-bottom: 10px solid #6223f0;
  border-left: 18px solid rgba(0, 0, 0, 0);
  border-right: 18px solid rgba(0, 0, 0, 0);
  content: "";
  height: 0;
  left: 0px;
  position: absolute;
  top: -10px;
  width: 0;
  transition: all 0.5s ease;
}
footer .top-footer ul.footer-col-social li > a > span:after,
section.my-team ul > li span:after {
  border-top: 10px solid #6223f0;
  border-left: 18px solid rgba(0, 0, 0, 0);
  border-right: 18px solid rgba(0, 0, 0, 0);
  bottom: -10px;
  content: "";
  height: 0;
  left: 0px;
  position: absolute;
  width: 0;
  transition: all 0.5s ease;
}
footer .top-footer ul.footer-col-social li > a > span,
section.my-team ul > li span {
  color: #fff;
  display: inline-block;
  height: 20px;
  position: relative;
  width: 35px;
  background: #6223f0;
  transition: all 0.5s ease;
}
footer .top-footer ul.footer-col-social li > a > span > i.fa {
  position: relative;
  top: 2px;
}
footer .top-footer ul.footer-col-social li.facebook:hover span:before,
section.my-team ul > li.facebook:hover span:before {
  border-bottom: 10px solid #3B5998;
}
footer .top-footer ul.footer-col-social li.facebook:hover span:after,
section.my-team ul > li.facebook:hover span:after {
  border-top: 10px solid #3B5998;
}
footer .top-footer ul.footer-col-social li.facebook:hover span,
section.my-team ul > li.facebook:hover span {
  background: #3B5998;
}
footer .top-footer ul.footer-col-social li.twitter:hover span:before,
section.my-team ul > li.twitter:hover span:before {
  border-bottom: 10px solid #1DA1F2;
}
footer .top-footer ul.footer-col-social li.twitter:hover span:after,
section.my-team ul > li.twitter:hover span:after {
  border-top: 10px solid #1DA1F2;
}
footer .top-footer ul.footer-col-social li.twitter:hover span,
section.my-team ul > li.twitter:hover span {
  background: #1DA1F2;
}
footer .top-footer ul.footer-col-social li.google:hover span:before {
  border-bottom: 10px solid #EA4335;
}
footer .top-footer ul.footer-col-social li.google:hover span:after {
  border-top: 10px solid #EA4335;
}
footer .top-footer ul.footer-col-social li.google:hover span {
  background: #EA4335;
}
footer .top-footer ul.footer-col-social li.linkedin:hover span:before,
section.my-team ul > li.linkedin:hover span:before {
  border-bottom: 10px solid #0177B5;
}
footer .top-footer ul.footer-col-social li.linkedin:hover span:after,
section.my-team ul > li.linkedin:hover span:after {
  border-top: 10px solid #0177B5;
}
footer .top-footer ul.footer-col-social li.linkedin:hover span,
section.my-team ul > li.linkedin:hover span {
  background: #0177B5;
}
footer .top-footer ul.footer-col-social li.youtube:hover span:before {
  border-bottom: 10px solid #C2171D;
}
footer .top-footer ul.footer-col-social li.youtube:hover span:after {
  border-top: 10px solid #C2171D;
}
footer .top-footer ul.footer-col-social li.youtube:hover span {
  background: #C2171D;
}
footer .top-footer ul.footer-col-social li.pinterest:hover span:before {
  border-bottom: 10px solid #BD081C;
}
footer .top-footer ul.footer-col-social li.pinterest:hover span:after {
  border-top: 10px solid #BD081C;
}
footer .top-footer ul.footer-col-social li.pinterest:hover span {
  background: #BD081C;
}
footer .top-footer ul.footer-col-social li.instagram:hover span:before,
section.my-team ul > li.instagram:hover span:before {
  border-bottom: 10px solid #D72881;
}
footer .top-footer ul.footer-col-social li.instagram:hover span:after,
section.my-team ul > li.instagram:hover span:after {
  border-top: 10px solid #D72881;
}
footer .top-footer ul.footer-col-social li.instagram:hover span,
section.my-team ul > li.instagram:hover span {
  background: #D72881;
}
footer .top-footer ul.footer-col-social li.vimeo:hover span:before {
  border-bottom: 10px solid #035B81;
}
footer .top-footer ul.footer-col-social li.vimeo:hover span:after {
  border-top: 10px solid #035B81;
}
footer .top-footer ul.footer-col-social li.vimeo:hover span {
  background: #035B81;
}
footer .top-footer ul.footer-col-social li.vk:hover span:before {
  border-bottom: 10px solid #44678D;
}
footer .top-footer ul.footer-col-social li.vk:hover span:after {
  border-top: 10px solid #44678D;
}
footer .top-footer ul.footer-col-social li.vk:hover span {
  background: #44678D;
}
footer .top-footer ul.footer-col-social li {
  list-style: none;
}
footer .top-footer ul.footer-col-social .last-col,
footer .top-footer ul.footer-col-social .first-col {
  position: relative;
  z-index: 0;
  display: inline-block;
  height: 28px;
  width: 100%;
}
footer .top-footer ul.footer-col-social .last-col:hover,
footer .top-footer ul.footer-col-social .first-col:hover {
  position: relative;
  z-index: 1;
}
footer .top-footer ul.footer-col-social .last-col {
  padding-left: 19px;
  top: -6px;
  height: 35px;
}
footer .top-footer ul.footer-col-social .last-col li {
  margin-top: 6px;
}
footer .copyright-footer {
  /*text-align: center;*/
  /*background: #000;*/
}
footer .copyright-footer p {
  margin: 0;
  padding: 10px 0;
  color: #6223f0;
  letter-spacing: 1px;
  font-size: 13px;
}
footer .copyright-footer img{
  display: inline-block;
  margin: 10px;
  width: 20px;
  margin: 3px 10px 10px 10px;
}
footer .copyright-footer p > a {
  color: #6223f0;
}
footer .copyright-footer p > a:hover {
  color: #2FA0FF;
}








</style>

<script type="text/javascript">
  $(window).scroll(function() {
    var scroll = $(window).scrollTop();
      if (scroll >= 50) {
          $("nav.navbar").addClass("fixed-menu");
      } else {
          $("nav.navbar").removeClass("fixed-menu");
      }
  });

  $(document).ready(function () {
    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
            $('.scrollup').fadeIn();
        } else {
            $('.scrollup').fadeOut();
        }
    });

    $('.scrollup').click(function () {
        $("html, body").animate({
            scrollTop: 0
        }, 600);
        return false;
    });
  });

</script>
