<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @list_sell.address %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @list_sell.unit %>
</p>

<p>
  <strong>City:</strong>
  <%= @list_sell.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @list_sell.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @list_sell.zip %>
</p>

<p>
  <strong>Price:</strong>
  <%= @list_sell.price %>
</p>

<p>
  <strong>Virtual tour link:</strong>
  <%= @list_sell.virtual_tour_link %>
</p>

<p>
  <strong>Home type:</strong>
  <%= @list_sell.home_type %>
</p>

<p>
  <strong>No bed:</strong>
  <%= @list_sell.no_bed %>
</p>

<p>
  <strong>No f bath:</strong>
  <%= @list_sell.no_f_bath %>
</p>

<p>
  <strong>No q bath:</strong>
  <%= @list_sell.no_q_bath %>
</p>

<p>
  <strong>No h bath:</strong>
  <%= @list_sell.no_h_bath %>
</p>

<p>
  <strong>Finished sq:</strong>
  <%= @list_sell.finished_sq %>
</p>

<p>
  <strong>Lot size:</strong>
  <%= @list_sell.lot_size %>
</p>

<p>
  <strong>Year built:</strong>
  <%= @list_sell.year_built %>
</p>

<p>
  <strong>Remodel year:</strong>
  <%= @list_sell.remodel_year %>
</p>

<p>
  <strong>Hoa dues:</strong>
  <%= @list_sell.hoa_dues %>
</p>

<p>
  <strong>Basement area:</strong>
  <%= @list_sell.basement_area %>
</p>

<p>
  <strong>Garage area:</strong>
  <%= @list_sell.garage_area %>
</p>

<p>
  <strong>Description:</strong>
  <%= @list_sell.description %>
</p>

<p>
  <strong>Website:</strong>
  <%= @list_sell.website %>
</p>

<p>
  <strong>My views:</strong>
  <%= @list_sell.my_views %>
</p>

<p>
  <strong>Email:</strong>
  <%= @list_sell.email %>
</p>

<p>
  <strong>Ph no:</strong>
  <%= @list_sell.ph_no %>
</p>

<%= link_to 'Edit', edit_list_sell_path(@list_sell) %> |
<%= link_to 'Back', list_sells_path %>
