<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @list_sell.address %>
</p>

<p>
  <strong>Unit no:</strong>
  <%= @list_sell.unit_no %>
</p>

<p>
  <strong>State:</strong>
  <%= @list_sell.state %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @list_sell.postal_code %>
</p>

<p>
  <strong>Title:</strong>
  <%= @list_sell.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @list_sell.price %>
</p>

<p>
  <strong>Virtual tour url:</strong>
  <%= @list_sell.virtual_tour_url %>
</p>

<p>
  <strong>Home type:</strong>
  <%= @list_sell.home_type %>
</p>

<p>
  <strong>Finished suqare area:</strong>
  <%= @list_sell.finished_suqare_area %>
</p>

<p>
  <strong>Lot size:</strong>
  <%= @list_sell.lot_size %>
</p>

<p>
  <strong>Year built:</strong>
  <%= @list_sell.year_built %>
</p>

<p>
  <strong>St model year:</strong>
  <%= @list_sell.st_model_year %>
</p>

<p>
  <strong>Hoa dues:</strong>
  <%= @list_sell.hoa_dues %>
</p>

<p>
  <strong>Basement size:</strong>
  <%= @list_sell.basement_size %>
</p>

<p>
  <strong>Garage size:</strong>
  <%= @list_sell.garage_size %>
</p>

<p>
  <strong>Description:</strong>
  <%= @list_sell.description %>
</p>

<p>
  <strong>Website:</strong>
  <%= @list_sell.website %>
</p>

<p>
  <strong>My views:</strong>
  <%= @list_sell.my_views %>
</p>

<p>
  <strong>Contact no:</strong>
  <%= @list_sell.contact_no %>
</p>

<p>
  <strong>Email:</strong>
  <%= @list_sell.email %>
</p>

<%= link_to 'Edit', edit_list_sell_path(@list_sell) %> |
<%= link_to 'Back', list_sells_path %>
