<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <title>USA Residential</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="navbar-custom">
        <div class="menu-hamburger">
          <%= image_tag "hamburger.png" %>
        </div>
        <div class="menu-item">
          <a href=""> Buy</a>
        </div>
        <div class="menu-item">
          <a href=""> Rent</a>
        </div>
        <div class="menu-item">
          <a href=""> Sell</a>
        </div>
        <div class="menu-item">
          <a href=""> Mortgage </a>
        </div>
        <div class="menu-item">
          <a href=""> Insurance</a>
        </div>
        <div class="menu-logo">
          <%= link_to root_path do %>
            <%= image_tag "usaresidentiallogo.png",:style=>"max-height: 60px;margin-left:50px;" %>
          <% end %>
        </div>
        <div class="menu-item">
          <a href=""> Agents</a>
        </div>
        <div class="menu-item">
          <a href=""> Contractors</a>
        </div>
        <div class="menu-item">
          <a href=""> List Rental </a>
        </div>
        <% if user_signed_in? %>
          <div class="menu-item">
            <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
          </div>
        <% else %>
          <div class="menu-item">
            <%= link_to "Sign in", new_user_session_path %>
          </div>
          <div class="menu-item">
            <%= link_to "Join", new_user_registration_path  %>
          </div>
        <% end %>
        <!-- <div class="menu-item">
          <a href="">|&nbsp;&nbsp;&nbsp;   Advertise </a>
        </div> -->
      </div>
    </header>
    <%= yield %>
  </body>
</html>
