<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'RESNlogo.ico' %>
    <title>RESN</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    
      <%= render 'theme_header' %>
    <div class="content">
      <%= yield %>
      <%= render 'theme_footer'%>
    </div>
  </body>
</html>
